<!DOCTYPE html>
<html lang="en">


<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




</head>

<body>





  <!--logo a man-->




  <!-- new event -->
  <div class="container-fluid bg-2 text-center">
    <h3>   New Event   </h3>
    <br>
    <img class="mySlides" src="themouses.jpg" style="width:100%">
    <img class="mySlides" src="bodyslam.jpg" style="width:100%">

    <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>



    <div class="container-fluid bg-3 text-center">

      <div class="tab">
        <button class="tablinks" (click)="getType('total')" style="position:relative; left:-180px">Total</button>
        <button class="tablinks" (click)="getType('vote')" style="position:relative; left:-220px">Vote</button>
        <button class="tablinks" (click)="getType('join')" style="position:relative; left:-260px">Join</button>
        <button class="tablinks" (click)="getType('announce')" style="position:relative; left:-300px">Announce</button>
        <input id="search" type="text" placeholder="Search...." style="position:relative; right:-150px" />
        <input type="submit" value="Search" id="submitButton" style="position:relative; right:-150px" />



      </div>



      <div class="row">

        <div *ngFor="let activity of activities; let i = index">
          <div class="col-sm-4">


            <div *ngIf="activity.type==='vote'">
              <div id="vote_content" class="vote_content">

                <a href="javascript:void(0)" onclick="document.getElementById('vote_content').style.display='none';document.getElementById('vote_fade').style.display='none'">Close</a>
                <div *ngFor="let c of choices; let i = index">


                  <li>
                    <input #choice type="radio" id="s-option" name="selector" (change)="onSelectionChange(i)">
                    <label>{{c.choice}}</label>

                  </li>

                </div>
                <p>Please enter your key</p>
                <input #key type="text">
                <button onclick="document.getElementById('vote_content').style.display='none';document.getElementById('vote_fade').style.display='none'"
                  type="button" class="button" (click)='checkMatchKeyVote(key.value)'>Vote</button>
              </div>
              <div id="vote_fade" class="vote_overlay"></div>
            </div>


            <div id="join_content" class="join_content">
              <a href="javascript:void(0)" onclick="document.getElementById('join_content').style.display='none';document.getElementById('join_fade').style.display='none'">Close</a>
              <p>Please enter your key</p>
              <input #key type="text">
              <button onclick="document.getElementById('join_content').style.display='none';document.getElementById('join_fade').style.display='none'"
                type="button" class="button" (click)='checkMatchKey(key.value)'>join us</button>

            </div>
            <div id="join_fade" class="join_overlay"></div>

            <div id="each" class="event">
              <img src="{{activity.image}}" style="width: 340px;height: 330px ; padding:0px;margin:0px;">
              <div class="event">
                <div class="event-title">
                  <br>
                  <p style="position:relative; left:-20px;"><b>{{activity.name}}</b></p>

                  <p align="left"><i class="fa fa-clock-o fa-fw"></i> {{activity.date}}</p><br>
                  <p align="left"><i class="fa fa-map-marker fa-fw"></i> {{activity.location}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6" id="left">
                  <div *ngIf="activity.type==='vote'">
                    <button type="button" class="button-event"><span  class="glyphicon glyphicon-heart"></span><a (click)='getChoices(activity._id)' href="javascript:void(0)" onclick="document.getElementById('vote_content').style.display='block';document.getElementById('vote_fade').style.display='block'">&nbsp;Vote</a></button>
                  </div>
                  <div *ngIf="activity.type==='join'">
                    <button type="button" class="button-event"><a (click)='join(activity._id)' href="javascript:void(0)" onclick="document.getElementById('join_content').style.display='block';document.getElementById('join_fade').style.display='block'">join us</a></button>

                  </div>
                </div>
                <div class="col-lg-6" id="right"><button type="button" class="button-event">score</button></div>
              </div>



            </div>

          </div>


        </div>




      </div>



    </div>






    <!--footer-->
    <footer class="container-fluid  text-center">
      <h5>EVENTS TU MADE BY US</h5>

    </footer>

  </div>

</body>

</html>