<!DOCTYPE html>
<html lang="en">


<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>





  <!--logo a man-->
  <div class="container-fluid bg-1 text-center">
    <h3>Who Am I?</h3>
    <img src="man.jpg" class="img-responsive" class="img-circle" style="display:inline" alt="Man">
    <h3>I'm an participant.</h3>
  </div>

  <div class="container-fluid bg-2 text-center">
    <h3>♥ ♥ ♥ New Event ♥ ♥ ♥</h3>

  </div>


  <!--events picture-->
  <div class="container-fluid bg-3 text-center">

    <div class="row">
      <div class="col-sm-4">
        <h4>TU Show Case</h4>
        <img src="event1.jpg" alt="Image"> <br><br>
        <p class="w3-opacity" align='left'>13 OCT 2016<br>5 PM at ตึกโดมบริหาร</p>
        <p align='left'>มาช้อป มาชิม มาชิว และร่วมสนุกในงานกัน มาเยอะๆนะ อยากเจอ</p>
        <button type="button" class="button">details</button>
        <button type="button" class="button"><span class="glyphicon glyphicon-heart"></span>  Vote</button>
        <button type="button" class="button">score vote</button>
        <button type="button" class="button">join us</button>
      </div>
      <div class="col-sm-4">
        <h4>TU Show Case 2017</h4>
        <img src="event2.jpg" alt="Image"> <br><br>
        <p class="w3-opacity" align='left'>14 FEB 2017<br>5 PM at SC Building</p>
        <p align='left'>เออถ้าไม่ทักรักจะเกิดปะล่ะ อ่ะรีบมา รออยู่</p>
        <button type="button" class="button">details</button>
        <button type="button" class="button"><span class="glyphicon glyphicon-heart"></span>  Vote</button>
        <button type="button" class="button">score vote</button>
        <button type="button" class="button">join us</button>
      </div>
      <div class="col-sm-4">
        <h4>งานลอยกระทงธรรมศาสตร์ รังสิต</h4>
        <img src="event3.jpg" alt="Image"> <br><br>
        <p class="w3-opacity" align='left'>21-25 NOV 2015<br>5 PM at สะพานดาว</p>
        <p align='left'>มาร่วมขอขมาพระแม่คงคากันนะทุกคน ^^</p>
        <button type="button" class="button">details</button>
        <button type="button" class="button"><span class="glyphicon glyphicon-heart"></span>  Vote</button>
        <button type="button" class="button">score vote</button>
        <button type="button" class="button">join us</button>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-4 text-center">

    <div class="row">
      <div class="col-sm-4">
        <h4>ขายเสื้อเชียร์ งานบอล</h4>
        <img src="event4.jpg" alt="Image"> <br><br>
        <p class="w3-opacity" align='left'>ขายจนกว่าของจะหมด!<br>8.00 AM - 17.00 PM</p>
        <p align='left'>มาซื้อเสื้อ!! จะไปงานบอล!!!</p>
        <button type="button" class="button">details</button>
        <button type="button" class="button"><span class="glyphicon glyphicon-heart"></span>  Vote</button>
        <button type="button" class="button">score vote</button>
        <button type="button" class="button">join us</button>
      </div>
      <div class="col-sm-4">
        <h4>CMYK Market</h4>
        <img src="event5.jpg" alt="Image"> <br><br>
        <p class="w3-opacity" align='left'>28 OCT 2015<br>5 PM at JPark Thammasat U.</p>
        <p align='left'>มาหาของกินเล่น ช้อปปิ้งแก้เครียดกันนะ และฟังนักร้องจาก The voice ss4</p>
        <button type="button" class="button">details</button>
        <button type="button" class="button"><span class="glyphicon glyphicon-heart"></span>  Vote</button>
        <button type="button" class="button">score vote</button>
        <button type="button" class="button">join us</button>
      </div>
      <div class="col-sm-4">
        <h4>จองบูทเปิดร้านค้าที่ JPark Thammasat U.</h4>
        <img src="event6.jpg" alt="Image"> <br><br>
        <p class="w3-opacity" align='left'>3-4 FEB 2016<br>5 PM at JPark Thammasat U.</p>
        <p align='left'>พ่อค้าแม่ค้ามาจองพื้นที่ขายสินค้าได้แล้ววันนี้นะจ๊ะ แอดไลน์เลย!</p>
        <button type="button" class="button">details</button>
        <button type="button" class="button"><span class="glyphicon glyphicon-heart"></span>  Vote</button>
        <button type="button" class="button">score vote</button>
        <button type="button" class="button">join us</button>
      </div>


    </div>
  </div>



  <!--footer-->
  <footer class="container-fluid bg-4 text-center">
    <h4>EVENTS TU MADE BY US</h4>

  </footer>



</body>

</html>
