<!DOCTYPE html>
<html lang="en">


<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>





  <!--logo a man-->
  <div class="container-fluid bg-1 text-center">
    <h3>Who Am I?</h3>
    <img src="man.jpg" class="img-responsive" class="img-circle" style="display:inline" alt="Man">
    <h3>I'm an participant.</h3>
  </div>

  <!-- new event -->
  <div class="container-fluid bg-2 text-center">
    <h3>♥ ♥ ♥ New Event ♥ ♥ ♥</h3>

    <p>This is the main content. To display a lightbox click <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">here</a>
    </p>
    <div id="light" class="white_content">This is the lightbox content. <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
    </div>
    <div id="fade" class="black_overlay"></div>


    <!--events picture-->
    <div class="container-fluid bg-3 text-center">


      <div class="row">

        <div *ngFor="let activity of activities; let i = index">
          <div class="col-sm-4">


            <div *ngIf="activity.type==='vote'">
              <div id="vote_content" class="vote_content">

                <a href="javascript:void(0)" onclick="document.getElementById('vote_content').style.display='none';document.getElementById('vote_fade').style.display='none'">Close</a>
                <div *ngFor="let c of choices; let i = index">


                  <li>
                    <input type="radio" id="s-option" name="selector">
                    <label>{{c.choice}}</label>

                  </li>
                  <!--<p>{{c.choice}}</p> -->
                </div>
              </div>
              <div id="vote_fade" class="vote_overlay"></div>
            </div>


            <div id="join_content" class="join_content">
              <a href="javascript:void(0)" onclick="document.getElementById('join_content').style.display='none';document.getElementById('join_fade').style.display='none'">Close</a>
              <p>Please enter your key</p>
              <input #key type="text">
              <button type="button" class="button" (click)='checkMatchKey(key.value)'>join us</button>
              <div *ngIf="checkJoin===false">
                <p>Wrong your key !!</p>
              </div>
            </div>
            <div id="join_fade" class="join_overlay"></div>



            <h4>{{activity.name}}</h4>
            <img src="{{activity.image}}" alt="Image" width="350" height="280"> <br><br>
            <p class="w3-opacity" align='left'>{{activity.date}}<br>{{activity.location}}</p>
            <p align='left'>{{activity.description}}</p>
            <button type="button" class="button">details</button>
            <div *ngIf="activity.type==='vote'">
              <button type="button" class="button"><span  class="glyphicon glyphicon-heart"></span><a (click)='getChoices(activity._id)' href="javascript:void(0)" onclick="document.getElementById('vote_content').style.display='block';document.getElementById('vote_fade').style.display='block'">Vote</a></button>
            </div>
            <button type="button" class="button">score vote</button>
            <div *ngIf="activity.type==='join'">
              <button type="button" class="button"><a (click)='join(activity._id)' href="javascript:void(0)" onclick="document.getElementById('join_content').style.display='block';document.getElementById('join_fade').style.display='block'">join us</a></button>
            </div>
          </div>




        </div>
        <!-- let ac loop -->
      </div>
      <!-- class row -->
    </div>






    <!--footer-->
    <footer class="container-fluid bg-4 text-center">
      <h4>EVENTS TU MADE BY US</h4>

    </footer>

  </div>

</body>

</html>