<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
            <div class="w3-container">
                <h1 class="w3-padding-64"><b>EVENT<br>TU</b></h1>
            </div>
            <div class="w3-bar-block">
                <a href="index.html" class="w3-bar-item w3-button w3-hover-white">Home</a> 
                <a href="addActivity.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Activity</a> 
                <a href="login.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Log in</a>
                <a href="signup.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Sign up</a>
            </div>
        </nav>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            <!-- Header -->
            <div class="w3-container" style="margin-top:80px" id="activity">
                <h1 class="w3-jumbo"><b>Add Activity</b></h1>             
                <hr style="width:50px;border:5px solid red" class="w3-round">
            </div>
        </div>

        <!-- number -->
        <div class="w3-row">
            <div class="w3-col w3-container m4 l3"></div> <!-- just make it beauty-->
            <div class="w3-col w3-container m9 l9">  
                <div class="container">
                    <div class="row">
                        <div class="w3-col">
                            <ol class="circle"> 
                                <li>   เลือกประเภทกิจกรรม</li> 
                                <br>
                                <div>
                                    <div class="w3-col w3-container m3 l2"></div> <!-- just make it beauty-->
                                    <form action="">
                                        <input type="radio" name="eventType" value="promoteDate"> ประกาศกิจกรรม<br>
                                        <div class="w3-col w3-container m3 l2"></div> <!-- just make it beauty-->
                                        <input type="radio" name="eventType" value="defineDate"> โหวตเลือกวัน<br>
                                    </form>


                                </div>
                                <li>   เลือกรูปภาพ</li> 
                                <br>
                                <div class="formField">
                                    <div class="w3-col w3-container m3 l2"></div> <!-- just make it beauty-->
                                    <img id="blah" src="#" alt="your image" />
                                    <br>
                                    <div class="w3-col w3-container m1 l2"></div> <!-- just make it beauty-->
                                    <input type='file' onchange="readURL(this);" />


                                </div>
                                <li>   ใส่ชื่อกิจกรรม</li> 
                                <br>
                                <div>
                                    <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                    <form>
                                        <p>ชื่อ : <input type="text" id="aname" name="aname"></p>
                                    </form>

                                </div>
                                <br>
                                <li>   ใส่ วัน / เดือน / ปี  </li> 
                                <br>
                                <div>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>วันเริ่ม : <input type="text" id="startDate" name="startDate"><br></p>


                                    </form>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>วันสิ้นสุด : <input type="text" id="endDate" name="endDate"></p><br>
                                    </form>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>(ตย. 19/02/2560)</p>
                                    </form>

                                </div>
                                <br>
                                <li>   ใส่เวลา / สถานที่</li> 
                                <br>
                                <div>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>เวลา : <input type="text" id="time1" name="time1"><br></p>


                                    </form>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>สถานที่ : <input type="text" id="location" name="location"></p><br>
                                    </form>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>(ตย. เวลา : 15.00-23.00 , 15.00)</p><br> 
                                    </form>
                                    <form>
                                        <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                        <p>(ตย. สถานที่ : at ธรมมศาสตร์ รังสิต)</p>
                                    </form>

                                </div>
                                <br>

                                <li>   ใส่คำอธิบายภาพกิจกรรม</li> 
                                <div>
                                    <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                    <form>
                                        <p>คำอธิบาย : <input type="text" id="caption" name="caption"></p>
                                    </form>
                                </div>
                                <br>
                                <li>   ยืนยันการเพิ่มกิจกรรม</li><br>
                                <div class="w3-col w3-container m1 l1"></div> <!-- just make it beauty-->
                                <button class="button button1">OK</button>

                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>

</html>