 @import url('https://shots.jotform.com/elton/genericTheme.css');
 .form-label-left {
    width: 150px !important;
  }

  .form-line {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .form-label-right {
    width: 150px !important;
  }

  .form-all {
    width: 550px;
    color: rgb(255, 255, 255) !important;
    font-family: 'Muli';
    font-size: 16px;
  }