body {
     background-color: #1d3156;
}

h1 {
    color: #F3A530;
}

input[type=text] {
    width: 50%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
     font-size: 20px;
}

.button {
    background-color: #1d3156; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #1d3156; 
    color: white; 
    border: 2px solid #1d3156;
}

.button1:hover {
    background-color: white;
    color: #1d3156;
}

.selected {
  background-color: black;
  border: medium solid darkred;
}

