<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Elegant Login - Designscrazed</title>

</head>

<body>


  <!--header-->
  <!-- bink add-->





  <div id="light" class="white_content">
    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
    <div class="logo"></div>
    <div class="login-block">

      <h1>Login</h1>
      <input #username type="text" value="" placeholder="Username" id="username" />
      <input #password type="password" value="" placeholder="Password" id="password" />

      <button href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" (click)="login(username.value, password.value)">Login</button>
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"> <button (click)="loginFacebook()" style="background-color: #3b5998;color: white; border:2px solid #3b5998">Login with facebook</button></div>
    </div>
  </div>
  <div id="fade" class="black_overlay"></div>

  <div id="regis_light" class="regis_white_content">
    <a href="javascript:void(0)" onclick="document.getElementById('regis_light').style.display='none';document.getElementById('regis_fade').style.display='none'">Close</a>
    <div class="logo"></div>
    <div class="login-block">

      <h1>Register</h1>
      <input #username type="text" value="" placeholder="Username" id="username" />
      <input #password type="password" value="" placeholder="Password" id="password" />
      <input #name type="text" value="" placeholder="Name" id="username" />
      <input #fac type="text" value="" placeholder="Faculty" id="username" />
      <input #id type="text" value="" placeholder="StudentID" id="username" />

      <button href="javascript:void(0)" onclick="document.getElementById('regis_light').style.display='none';document.getElementById('regis_fade').style.display='none'" (click)="register(username.value, password.value,name.value,fac.value,id.value)">Register</button>

    </div>
  </div>
  <div id="regis_fade" class="regis_black_overlay"></div>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand" routerLink="home" routerLinkActive="active">Me</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/add-act" routerLinkActive="active">ADD</a></li>
          <div *ngIf="!check">
            <li><a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">LOGIN</a></li>
            <li><a href="javascript:void(0)" onclick="document.getElementById('regis_light').style.display='block';document.getElementById('regis_fade').style.display='block'">REGISTER</a></li>
          </div>
          <div *ngIf="check">

            <li><a (click)="logout()">LOGOUT </a></li>
          </div>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>





</body>

</html>
