<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>Elegant Login - Designscrazed</title>

</head>

<body>


  <!--header-->
  <!-- bink add-->

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        
        <a class="navbar-brand" routerLink="home" routerLinkActive="active">Me</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/add-act" routerLinkActive="active">ADD</a></li>
          <li><a href="/login" >LOGIN</a></li>
        
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>





</body>

</html>